.contact-container{
    margin-top: 100px;
}
.contact-form input::placeholder , .contact-form textarea::placeholder{
    text-transform: capitalize;
    font-size: 1.1rem;
}
.contact-form input:focus, textarea:focus{
    border: none;
    outline: 2px solid var(--color-primary);
}
.contact-section{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.contact-icon{
    height: 40px;
    width: 40px;
    color: var(--color-primary);
    margin-bottom: 20px;
}
.contact-card{
    margin: 20px;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    word-wrap: break-word;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-hover);
    cursor: pointer;
    border: 2px solid transparent;
}
.contact-card:hover{
    border:2px solid var(--color-primary);
    background-color: transparent;
}
.contact-card h5{
    font-size: 1rem;
    width: 80%;
    color: #ddd;
}
.contact-card h2{
    font-size: 1.2rem;
}
.contact-form{
    width: 50%;
    display: flex;
    align-items:center ;
    justify-content: space-around;
    flex-direction: column;
    align-self: flex-start;
}
.contact-form input , textarea{
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    height: 60px;
    border: 2px solid var(--color-hover);
    margin: 20px;
    padding: 10px;
    text-indent: 20px;
    font-size: 1rem;
    color: var(--color-ash);
}
textarea{
    height: 250px;
    
}
.submit-btn {
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    font-size: 20px;
    width: 50%;
    background: var(--color-hover);
    color: var(--color-ash);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
   }
   
   .submit-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .submit-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .submit-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .submit-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   .submit-btn:hover span {
    transform: translateX(5em);
   }
   
   .submit-btn:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   