*{
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  object-fit: cover;
}
html{
  scroll-behavior: smooth;
}
:root{
  --color-bg:rgb(3,4,94);
  --color-hover:rgb(2,62,138);
  --color-primary:rgb(13, 160, 240);
  --color-white:rgb(255, 255, 255);
  --color-ash:rgb(187, 187, 187);
  --color-variant:rgb(144,224,239);
  --color-hover-variant:rgb(202,240,248);
  --container-lg:90%;
  --transition:all .4s ease-in-out;
}
h1,h2,h3,h4,h5{
  font-weight: 500;
}
h2{
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-primary);
}

h5{
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-white);
  text-transform: capitalize;
}
body{
  background-color: var(--color-bg);
}
p{
  color: var(--color-ash);
  font-size: 1.1rem;
  line-height: 25px;
}
a{
  font-size: 1.2rem;
  color: var(--color-hover);
  text-transform: capitalize;
}
.icon{
  color: var(--color-variant);
  font-size: 2rem;
  margin: 10px;
}
.small-h5{
  font-size: 1.2rem;
}
.small-p{
  font-size: 1rem;
}
.btn{
  transition: var(--transition);
}
.btn:hover{
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
}
.container{
  margin: auto;
  margin-top: 6rem;
  width: var(--container-lg);  
}
section{
  margin: auto;
  width: var(--container-lg);
}